<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <% @list = [1,2,3] %>
    Maybe someone does <% a = "weird" %> kind of <% MARKUP %>
    <p>Maybe someone does <% a = "weird" %> kind of <% MARKUP %></p>
    Maybe someone does <% a = "weird" %> kind of <% MARKUP %>
    <h1>Hi! My name is <%= @name %>!!!</h1>
    <h1>Hi! 2+2 is <%= 2 + 2 %>!!!</h1>
    <h1>Hi! a+b is <%= "a" + "b" %> and also <%= "your #{@name}" %>!!!</h1>
    <h1>Hi! a+b is <%= 'a' + 'b' %> and also <%= "your #{@name}" %>!!!</h1>

    <ul>
      <% for item in @list %>
        <li>
          <h2><%= item.method_a %></h2>
          <%= link_to item.method_b, item, class: "something", :"data-foo" => "The two spaces here  must be respected." %>
        </li>
      <% end %>
    </ul>
    <ul>
      <% @list.each do |item| %>
        <li>
          <h2><%= item.method_a %></h2>
          <%= link_to item.method_b, item, class: "something", :"data-foo" => "The two spaces here  must be respected." %>
        </li>
      <% end %>
    </ul>
    <ul>
      <% @list.each{|item| %>
        <li>
          <h2><%= item.method_a %></h2>
          <%= link_to item.method_b, item, class: "something", :"data-foo" => "The two spaces here  must be respected." %>
        </li>
      <% } %>
    </ul>
    <ul>
      <% @list.each{|a,b,c,d| %>
        <li>
          <h2><%= item.method_a %></h2>
          <%= link_to item.method_b, item, class: "something", :"data-foo" => "The two spaces here  must be respected." %>
        </li>
      <% } %>
    </ul>
    <ul>
      <% 10.times { %>
        <li> Hey! </li>
      <% } %>
    </ul>
    <% if 1 == 1 %>
      <p>1 is 1 man!</p>
    <% end %>
    <% if 1 == 1 %>
      <p>1 is 1 man!</p>
    <% else %>
      <p>1 is not 1 man!</p>
    <% end %>
    <% if 1 == 1 %>
      <p>1 is 1 man!</p>
    <% elsif 2 == 2 %>
      <p>2 is 2 man!</p>
    <% end %>
    <% case @foo %>
    <% when 1 %>1
    <% when 2 %>2
    <% else %>3
    <% end %>
    <% while @foo.next %>
      NEXT!
    <% end %>

  </body>
</html>